/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* pagina graficos */
.dash {
  background-color: #161618;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

canvas {
  width: 100% !important;
  height: 70% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #212124;
}

.header-left h1 {
  color: red;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: black;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.kpi {
  margin: 5%;
  height: 200px;
  width: 300px;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}

.mostrarGraficosMediaAcertosGeral {
  height: 40%;
  width: 90%;
  background-color: white;
  border-radius: 16px;
}

.mostrarGraficosMediaAcertosUsuario{
  height: 40%;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.flexKpi {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 10%;
}

.graficos {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  justify-content: space-around;
}

.tituloGrafico{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.resultadoKpi{
  font-size: xx-large;
}