@keyframes cardAnimacao1 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);


  }
}

@keyframes cardAnimacao2 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);


  }
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
}

.container .headerImagem {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header {
  background-color: black;
}

.titulo {
  color: red;
  font-size: large;
}

.navbar {
  width: 400px;
  display: flex;
  color: white;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.header .container {
  gap: 60%;
}

.header .container ul {
  justify-content: space-between;
}

.linkHeader {
  color: red;
  font-size: 12px;
  list-style: none;
  text-decoration: none;
}


* {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
}

section div.background-section {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

section div.background-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(30%);
}

section div.box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

section div.box div.conteudo {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section div.box p {
  color: white;
  font-size: 20px;
  line-height: 32px;
}

section div.box h1 {
  color: white;
  font-size: 60px;
  line-height: 62px;
}

.o_que_é_fisiculturismo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5%;
  color: white;
}

.o_que_é_fisiculturismo img {
  height: 400px;
  width: 270px;
}

.texto {
  display: flex;
  flex-direction: column;
  padding: 10%;
  justify-content: center;
  align-items: center;
}

.texto p {
  display: flex;
  text-align: center;
}


.botões_categorias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.botões_categorias button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border-style: none;
  height: 50px;
  font-size: larger;
}

.conteudo_categorias h1 {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
}

.conteudo_categorias {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 50px;
}

.conteudo_categorias img {
  height: 300px;
}

.conteudo_categorias p {
  color: white;
  text-align: center;
  display: flex;
  padding: 5%;
}

#div_openBoryBuilding {
  display: none;
}

#div_mensPhysique {
  display: none;
}

#div_classicPhysique {
  display: none;
}

#div_mrOlimpia {
  display: flex;
}

/* Teste */

.flexCard {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}


.card {
  width: 500px;
  height: 400px;
  border-radius: 30px;
  background: #212121;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin: auto;
  opacity: 0;
  transform: translateX(100%);
  
}

.flexCard h1{
  color: red;
}

.cardAparecer {
  width: 500px;
  height: 400px;
  border-radius: 30px;
  background: #212121;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin: auto;
  animation-name: cardAnimacao1;
  animation-duration: 1.5s;
}

.card2 {
  width: 500px;
  height: 400px;
  border-radius: 30px;
  background: #212121;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin: auto;
  opacity: 0;
  transform: translateX(100%);
}

.card2Aparecer {
  width: 500px;
  height: 400px;
  border-radius: 30px;
  background: #212121;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin: auto;
  animation-name: cardAnimacao2;
  animation-duration: 1.5s;
}


footer {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 0;
  background-color: rgb(10, 10, 10);
  color: white;
  display: flex;
  flex-direction: row;
}

footer .headerImagem {
  width: 100%;
  box-shadow: 20px -10px 20px rgb(63, 63, 63);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}